VITE_CHAIN=moderato
# Sample billet link fragments (#t=...&p=...), comma separated, shown on the landing page
# VITE_SAMPLE_LINKS=
# gRPC-web lightwalletd proxies, tried in order
# VITE_LIGHTWALLETD=https://zcash-mainnet.chainsafe.dev,https://zjs.zec.rocks/mainnet
